<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksit.mapper.AccountMapper">
	<select id="selectById" parameterType="int" resultType="Account">
		select * from t_account where id = #{id}
	</select>
	<insert id="save" parameterType="Account">
		insert into t_account (user_name,address,password) values (#{userName},#{address},#{password});
	</insert>
	<delete id="deleteById" parameterType="int">
		delete from t_account where id = #{id}
	</delete>
	<update id="modify" parameterType="Account">
		update t_account set user_name = #{userName},address = #{address},password = #{password} where id = #{id};
	</update>
	<select id="findAll" resultType="Account">
		select * from t_account;
	</select>
	<select id="findAllLoadDept" resultType="Account">
		SELECT
			t_account.id
			user_name,
			address,
			PASSWORD,
			dept_id,
			t_dept.dept_name as `dept.deptName`
		FROM
			t_account,t_dept where t_account.dept_id = t_dept.id
	</select>
<!-- 	<resultMap type="Account" id="accMap">
		<id column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="address" property="address"/>
		<result column="password" property="password"/>
		<result column="dept_id" property="deptId"/>
		<association property="dept" javaType="Dept">
			<id column="dept_id" property="id"/>
			<result column="dept_name" property="deptName"/>
		</association>
	</resultMap> -->
	
</mapper>