<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksit.mapper.AccountMapper">
	<select id="selectById" parameterType="int" resultType="Account">
		select * from t_account where id = #{id}
	</select>
	<insert id="save" parameterType="Account">
		insert into t_account (user_name,address,password) values (#{userName},#{address},#{password});
	</insert>
	<delete id="deleteById" parameterType="int">
		delete from t_account where id = #{id}
	</delete>
	<update id="modify" parameterType="Account">
		update t_account set user_name = #{userName},address = #{address},password = #{password} where id = #{id};
	</update>
	<select id="findAll" resultType="Account">
		select * from t_account;
	</select>
</mapper>